<div ng-app='quizzy'>
  <div ng-controller='QuizMenuController'>
    <div ng-show='quizViewAll'>
    <a href='' ng-repeat='quiz in quizzes' ng-click='selectQuiz(quiz)'><h3 id='{{quiz.id}}'>{{quiz.title}}</h3></a>
    </div>
    <div ng-show='questionView'>
    </div>
    <div ng-show='scoreView'>
    </div>
  </div>
</div> 