<!DOCTYPE html>
<html>
<head>
  <title>QuizzyNet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="" id='topbar'>Quizzy Quiz</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active" id='addquiz'><a href="#">Add Quizz!</a></li>
    </ul>
  </section>
</nav>
<%= yield %>

</body>
</html>
